.cta {
	.sample {
		background: var(--backgroundColour);
		border: 2px solid var(--backgroundColour);
		color: var(--textColour);
		padding: 5px 10px;
		width: 200px;

		a {
			border: 1px solid var(--textColour);
			display: inline-block;
			color: var(--textColour);
			padding: 5px 10px;
			text-decoration: none;
		}
	}
}