@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

$font_regular: 'Arno Pro', serif;
$font_headings: 'Arno Pro', serif;

//Colours
$primary: #10bdc8;
$secondary: #92278f;

//Neutrals
$main: #58595c;
$white: #ffffff;